@font-face {
  font-family: 'AmarNastaleeq';
  src: url("../AmarNastaleeq.eot");
  src: url("../AmarNastaleeq.eot") format("embedded-opentype"), 
       url("../AmarNastaleeq.woff") format("woff"), 
       url("../AmarNastaleeq.ttf") format("truetype"), 
       url("../AmarNastaleeq.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}
